@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

html,
body {
  margin: 0;
  height: 100dvh;
  box-sizing: brder-box;
}

* {
  box-sizing: inherit;
}

body {
  background: #f9c784;
  color: #4e598c;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 24px;
}

p,
li,
th,
td {
  font-size: 16px;
}

th {
  font-weight: bold;
}

header h1,
p {
  margin: 10px;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
}

section {
  margin: 10px;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (min-width: 900px) {
  body {
    margin: 0 auto;
    max-width: 900px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
  }

  header h1 {
    font-size: 2.5em;
    font-weight: 300;
  }

  img {
    width: 100%;
  }
  a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: black;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }

  a:hover {
    background: #e81c4f;
    color: white;
  }

  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

  h1,
  h2,
  strong {
    color: #333;
  }

  a {
    color: #e81c4f;
  }

  table {
    width: 100%;
  }

  table,
  th,
  tr,
  td {
    border: 1px solid rgb(184, 184, 255);
    border-collapse: collapse;
  }

  th {
    font-weight: 600;
    background: rgb(130, 218, 90);
    color: rgb(7, 55, 99);
  }

  th,
  td {
    padding: 4px 8px;
  }

  td:first-child {
    width: 18em;
  }

  td:last-child {
    width: 22em;
  }
}
